<div class = "header">
  <div class = "container">
  <ul class = "nav">
    <li>Welcome</li>
    <li>Portfolio</li>
    <li>Blog</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
  <ul class = "name">
    <li>Clarissa Vu</li>
  </ul>
  </div>
</div>
<div class = "main">
  <div class = "jumbotron">
    <h1>Hello. My name is Clarissa. I am a Digital Designer working in New York City.</h1>
    <a class = "btn" href = "#">View My Work</a>
  </div>
</div>